# File .env THAT do cai-dat.sh sinh ra va KHONG BAO GIO duoc commit.
# File .example nay chi de nguoi khac biet can nhung bien gi.
MSSV=k23
WP_DB=wp_k23
WP_USER=wp_k23
WP_PASSWORD=doi-mat-khau-nay
MYSQL_ROOT_PASSWORD=doi-mat-khau-nay
EXPORTER_USER=exporter_k23
EXPORTER_PASSWORD=doi-mat-khau-nay
GRAFANA_USER=admin
GRAFANA_PASSWORD=doi-mat-khau-nay
BIND_ADDR=127.0.0.1   # hoac 0.0.0.0 neu chay ./cai-dat.sh <MSSV> --mo-lan
